html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    background-color: #140d07;
    color: #ffffff;

}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(20, 13, 7, 0.5), transparent);
    padding: 24px 60px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav>a img {
    height: 32px;
    width: auto;
    object-fit: contain;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 28px;
}

nav li a {
    color: #d1cfcd;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}



main {
    width: 100%;
}

section#home {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 60px 60px 60px;
    gap: 40px;
    background-image: linear-gradient(rgba(20, 13, 7, 0.65), rgba(20, 13, 7, 0.65)), url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 550px;
}

section#home h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 18px;
}

section#home p {
    font-size: 20px;
    line-height: 1.6;
    color: #c5beba;
    margin-bottom: 30px;
}

section#home a {
    display: inline-block;
    background-color: #ffffff;
    color: #140d07;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 28px;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

section#home a:hover {
    background-color: #e5d5c5;
    transform: translateY(-2px);
}

section#home img {
    max-width: 420px;
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.6));
}

.hero-content {
    max-width: 550px;
}

#about {
    padding: 80px 60px;
    background-image: linear-gradient(rgb(14, 10, 4), rgba(26, 18, 11, 0.625)), url('../images/About-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about h2 {
    font-size: 48px;
    font-weight: 700;
    color: #f7e6d2;
    letter-spacing: 1.5px;
    margin-bottom: 24px;
    text-align: center;
}

#about p {
    font-size: 18px;
    line-height: 1.7;
    color: #c5beba;
    margin-bottom: 0px;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.about-coffee {
    position: relative;
    max-width: 760px;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-coffee::before {
    content: "";
    position: absolute;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(197, 168, 128, 0.293) 15%, rgba(155, 106, 74, 0.17) 60%, transparent 70%);
    pointer-events: none;
    z-index: 0;
}

.about-coffee img {
    max-width: 420px;
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.6));
    display: block;
}

.about-coffee ul.coffee-labels {
    font-family: 'Agbalumo';
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-coffee .coffee-labels li {
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    color: #f7e6d2;
    letter-spacing: .5px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 12px;
}

.about-coffee .coffee-labels .label1 {
    top: 16%;
    left: -150px;
    text-align: right;
}

.about-coffee .coffee-labels .label2 {
    top: 44%;
    right: -150px;
    text-align: left;
}

.about-coffee .coffee-labels .label3 {
    top: 70%;
    left: -150px;
    text-align: right;
}

#menu {
    padding: 80px 60px;
    background-image: linear-gradient(rgba(20, 13, 7, 0.111), rgba(20, 13, 7, 0.1)), url('../images/menu-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}